* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #fff;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.navmenu a:hover {
    color: #EE1C47;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

section {
    padding: 5% 10%;
}

.admin-dashboard {
    width: 100%;
    height: 100vh;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboard-text h1 {
    color: #000;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
}

.dashboard-text p {
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 40px;
}

.admin-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.admin-btn {
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 15px 30px;
    transition: all .42s ease;
    background-color: #fff;
    cursor: pointer;
}

.admin-btn:hover {
    background: #000;
    color: #fff;
}

.admin-btn i {
    vertical-align: middle;
    margin-left: 10px;
}

footer {
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}

.end-text p {
    color: #111;
    text-transform: capitalize;
}

/* Responsividade */
@media(max-width:890px){
    header {
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }

    .navmenu a {
        display: block;
        margin: 18px 0;
    }

    .navmenu.open {
        right: 0;
    }
}
